{% extends 'base.html' %}


{% block content %}
  <!-- jumbotron -->
  <!-- ---------------------------------------------------- -->
  <div id="head" class="p-5 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Add Games</h1>
        <p class="col-md-4">Select Game to add to Library</p>
      </div>
  </div>


<div class="container-fluid">
  {% for game in all_games.results %}
  {% if forloop.counter0|divisibleby:3 %} <div class="row text-center"> {%  endif %}
        <div class="col-md-4 my-2">
            <div class="card">
                <img class="card-img-top" src="{{ game.background_image }}" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{ game.name }}</h5>
                  <a class="btn btn-primary" style="font-size: small;" href="/rawg/save/{{ game.id }}" role="button">Add to Library</a>                
                </div>
            </div><!-- card -->
        </div><!-- col-md-4 -->

  {%  if forloop.counter|divisibleby:3 or forloop.last %}</div>{%  endif %}
  {%  endfor %}
</div><!-- container -->






    

    
    
    <!-- 
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for game in all_games.results %}
    <div class="card">
      <img class="card-img-top" src="{{ game.background_image }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ game.name }}</h5>
        <p class="card-text">TEST</p>
      </div>
    </div>
    {% endfor %} -->


    
  </div>

</div>
  


{% endblock %}    

